# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\我的项目合集\接单项目\300-java知识图谱问答系统\Spring-Boot-Neo4j-Movies-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
